body {
    font-family: Arial, sans-serif;
    background: #ffe6f0;
    text-align: center;
}

h1 {
    color: #d63384;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #ff99cc;
}

a, button {
    padding: 6px 12px;
    background: #ff66a3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}